.admin_wrapper_content {
    padding: 15px;
}

h1 {
    margin-bottom: 30px;
}
.table_title {
    margin-bottom: 30px; 
}

table {
    width: 100%; /* Ширина таблицы */
    border-collapse: collapse; /* Убираем двойные рамки */
   }

tr {
    border-bottom:1px solid #c3c0c0;
    
}

th, td {
    padding: 4px; /* Поля в ячейках */
    text-align: left;
   }

thead, tfoot {
    background-color: #39419A;
}

.last_line {
    
    text-align: right;
}