.app_wrapper {
  margin: 0 auto;
  display: grid;
  width: 100;
  grid-template-areas: 
  "sidebar topbar"
  "sidebar content";
  grid-template-columns: 2fr 10fr;
  grid-template-rows: 60px 1fr;
  background-color: rgb(26, 55, 218);
  color: #fff;
}

.topbar {
  grid-area: topbar; 
  background-color: rgb(23, 43, 81);
  color: #fff;
}

.app_wrapper_content {
  grid-area: content; 
  background-color: rgb(34, 20, 116);
  color: #fff;
}